<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_Dn7F5VNg5p8mV1xenUUkGDkLtA5O3Ok</string>
	<key>GCM_SENDER_ID</key>
	<string>1026779135861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geosociomap</string>
	<key>PROJECT_ID</key>
	<string>geosociomap-6adc8</string>
	<key>STORAGE_BUCKET</key>
	<string>geosociomap-6adc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026779135861:ios:a5c030e8e9c16047555d3c</string>
</dict>
</plist>